#results
{
    display: flex;
    flex-direction: row;
}

#dashboard
{
    display: flex;
    flex-direction: column;
}

#map
{
    display: none;
}

#userAddressDiv
{
    display: flex;
    flex-direction: row;
}