#errorModal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 25%; 
    top: 33%;
    width: 50%;
    height: 200px; 
    background-color: rgb(197, 0, 0);
  }
  #errorModal-div {
    position: relative; 
    background-color: white;
    padding: 20px; 
    margin: auto; 
    width: 75%;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    align-content: center;
  }

  #errModalMsg
  {
    color: white;
  }

  #errorModalCloseBtn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
  }
  #errorModalCloseBtn:hover {
    color: rgb(0, 0, 0);
  }
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }