body
{
  width:1000px;
}
#mapBody {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  display: none;
}

#map 
{ 
  position: relative; 
  top: 0; 
  bottom: 0; 

  width: 800px;
  height: 600px;
}

#instructions {
  position: absolute;
  margin: 20px;
  width: 200px;
  height: 300px;
  top: 0;
  bottom: 20%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: scroll;
  font-family: sans-serif;
  font-size: 0.8em;
  line-height: 2em;
}

.duration {
  font-size: 2em;
}